{
    "openapi": "3.0.0",
    "info": {
        "title": "Fulfillment API",
        "description": "\n- alpha: Currently developed API version. Subject to major changes.\n- beta: A semi-stable early access version. New features can be added. Breaking changes are possible.\n- stable: The API is recommended for use in production.\n\n[Changelog](https:\/\/fulfillment-api.conqore.niceshops.com\/v2\/docs\/changelog.html)\n\nAll data is transferred in UTF-8 encoding.\\\nThe API uses stateless HTTP. No cookies have to be kept.\\\nAuthentication via OAuth2 client credentials flow.\n\n[Fulfillment API PHP client @Packagist](https:\/\/packagist.org\/packages\/datenkraft\/bb-fulfillment-api-php-client)",
        "version": "v2.beta"
    },
    "servers": [
        {
            "url": "https://fulfillment-api.conqore.niceshops.com/v2",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/auth/role": {
            "get": {
                "tags": [
                    "auth-role"
                ],
                "summary": "Get all available roles from this resource server",
                "description": "Get all available roles from this resource server",
                "operationId": "getAuthRoleCollection",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/role/{roleCode}": {
            "get": {
                "tags": [
                    "auth-role"
                ],
                "summary": "Get a role from this resource server by its roleCode",
                "description": "Get a role from this resource server by its roleCode",
                "operationId": "getAuthRole",
                "parameters": [
                    {
                        "name": "roleCode",
                        "in": "path",
                        "description": "Identifier for the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "auth-role"
                ],
                "summary": "Post a role for this resource server",
                "description": "Post a role for this resource server",
                "operationId": "postAuthRole",
                "parameters": [
                    {
                        "name": "roleCode",
                        "in": "path",
                        "description": "Identifier for the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/newAuthRoleResource"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "auth-role"
                ],
                "summary": "Delete a role for this resource server",
                "description": "Delete a role for this resource server",
                "operationId": "deleteAuthRole",
                "parameters": [
                    {
                        "name": "roleCode",
                        "in": "path",
                        "description": "Identifier for the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "auth-role"
                ],
                "summary": "Patch a role for this resource server",
                "description": "Patch a role for this resource server",
                "operationId": "patchAuthRole",
                "parameters": [
                    {
                        "name": "roleCode",
                        "in": "path",
                        "description": "Identifier for the role",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/newAuthRoleResource"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleResource"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/role-identity": {
            "get": {
                "tags": [
                    "auth-role-identity"
                ],
                "summary": "Get all role to identity assignments from this resource server",
                "description": "Get all role to identity assignments from this resource server",
                "operationId": "getAuthRoleIdentityCollection",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleIdentityCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "auth-role-identity"
                ],
                "summary": "Create one or more role to identity assignments in this resource server",
                "description": "Create one or more role to identity assignments in this resource server",
                "operationId": "postAuthRoleIdentityCollection",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/authRoleIdentityCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authRoleIdentityCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "auth-role-identity"
                ],
                "summary": "Delete one or more role to identity assignments in this resource server",
                "description": "Delete one or more role to identity assignments in this resource server",
                "operationId": "deleteAuthRoleIdentityCollection",
                "requestBody": {
                    "description": "CAUTION If the request is sent with an empty body, all relations are deleted!",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/authRoleIdentityCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/docs": {
            "get": {
                "tags": [
                    "docs"
                ],
                "summary": "Get the openapi documentation as json",
                "description": "Get the openapi documentation as json",
                "operationId": "getOpenApi",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": []
            }
        },
        "/docs/openapi.{format}": {
            "get": {
                "tags": [
                    "docs"
                ],
                "summary": "Get the openapi documentation in the specified format",
                "description": "Get the openapi documentation in the specified format",
                "operationId": "getOpenApiInFormat",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Openapi file format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "yaml",
                                "json"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/docs/changelog.{format}": {
            "get": {
                "tags": [
                    "docs"
                ],
                "summary": "Get the changelog in the specified format",
                "description": "Get the changelog in the specified format",
                "operationId": "getChangelogInFormat",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Changelog file format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "md",
                                "html"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Changelog not found"
                    },
                    "400": {
                        "description": "Invalid format"
                    }
                }
            }
        },
        "/auth/permission": {
            "get": {
                "tags": [
                    "auth-permission"
                ],
                "summary": "Get all permissions from this resource server",
                "description": "Get all permissions from this resource server",
                "operationId": "getAuthPermissionCollection",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/getAuthPermissionCollectionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/permission-role": {
            "get": {
                "tags": [
                    "auth-permission-role"
                ],
                "summary": "Get all role to permission assignments from this resource server",
                "description": "Get all role to permission assignments from this resource server",
                "operationId": "getAuthPermissionRoleCollection",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authPermissionRoleCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "auth-permission-role"
                ],
                "summary": "Create one or more role to permission assignments in this resource server",
                "description": "Create one or more role to permission assignments in this resource server",
                "operationId": "postAuthPermissionRoleCollection",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/authPermissionRoleCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authPermissionRoleCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "auth-permission-role"
                ],
                "summary": "Delete one or more role to permission assignments in this resource server",
                "description": "Delete one or more role to permission assignments in this resource server",
                "operationId": "deleteAuthPermissionRoleCollection",
                "requestBody": {
                    "description": "CAUTION If the request is sent with an empty body, all relations are deleted!",
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/authPermissionRoleCollection"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/audit-log": {
            "get": {
                "tags": [
                    "audit-log"
                ],
                "summary": "Get the audit log.",
                "description": "Get the audit log.",
                "operationId": "getAuditLogCollection",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to read. Default is the first page.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum size per page is 100. Default is 100.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 20
                    },
                    {
                        "name": "filter[endpoint]",
                        "in": "query",
                        "description": "A filter for restricting the audit log to a endpoint.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[version]",
                        "in": "query",
                        "description": "A filter for restricting the audit log to a endpoint version.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[identifier]",
                        "in": "query",
                        "description": "A filter for querying actions for a identifier.",
                        "required": false,
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/identifiers"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/auditLogCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/order/{orderNumber}": {
            "get": {
                "tags": [
                    "order"
                ],
                "summary": "Get an order by order number.",
                "description": "Get an order by order number.",
                "operationId": "getOrder",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The order number as defined during the creation of the order.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 54
                        }
                    },
                    {
                        "name": "shopCode",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/order"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "order"
                ],
                "summary": "Add a new order.",
                "description": "Add a new order referenced by the given orderNumber.",
                "operationId": "postOrder",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The number the order should be refered by.\n    This number is user defined, must be unique and has a maximum length (check maxLength field).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 54
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/newOrder"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/order"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity\n\nAvailable message codes:\n- PRODUCT_NOT_FOUND: A product could not be found.\n- DUPLICATED_PRODUCT: There are multiple orderItems with the same productNumber.\n- ORDER_CUSTOMS_CLEARANCE_REQUIRED_FIELD_MISSING: A field required for customs clearance is missing.\n- ORDER_NUMBER_STARTS_WITH_RESERVED_NUMBER_PREFIX: The orderNumber starts with a prefix that is reserved for internal\n  references.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/order/{orderNumber}/cancel": {
            "post": {
                "tags": [
                    "order"
                ],
                "summary": "Cancel an order.",
                "description": "Cancel the order specified by the given order number (set in param orderNumber).\\\nAn orderNumber from a canceled order cannot be used for a new order, because they must always be unique.",
                "operationId": "cancelOrder",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The number the order is refered by.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 54
                        }
                    },
                    {
                        "name": "shopCode",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/order"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict\n\nAvailable message codes:\n- ORDER_NOT_CANCELABLE: The order could not be canceled anymore\n- ORDER_ALREADY_CANCELED: The order is already canceled\n- ORDER_CANCELLATION_ALREADY_EXISTS: An order cancellation request already exists, which needs manual approval",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/order": {
            "get": {
                "tags": [
                    "order"
                ],
                "summary": "Get a list of shop oders.",
                "description": "Get a list of shop orders.",
                "operationId": "getOrderCollection",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to read. Default is the first page.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum size per page is 100. Default is 100.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 20
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort the results by one or more comma-separated sort criteria, with the criterion specified first having priority.\n\nAvailable sort orders:\n- asc: ascending order\n- desc: descending order\n\nAvailable fields for sorting:\n- orderDate\n\nThe default sort order is orderDate:desc.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "orderDate:asc"
                    },
                    {
                        "name": "filter[shopCode]",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "Filter for status/statuses (optional).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "single status": {
                                "summary": "single shop order status",
                                "value": "processing"
                            },
                            "multiple statuses": {
                                "summary": "multiple shop order statuses",
                                "value": "processing,canceled"
                            }
                        }
                    },
                    {
                        "name": "filter[externalOrderId]",
                        "in": "query",
                        "description": "Filter for the external order ID e.g. from third party apps (optional)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "SY_1042"
                    },
                    {
                        "name": "filter[externalCustomerId]",
                        "in": "query",
                        "description": "Filter for the external customer ID e.g. from third party apps (optional)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "564132551"
                    },
                    {
                        "name": "filter[externalOrderReference]",
                        "in": "query",
                        "description": "filter for externalOrderReference",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[orderDateFrom]",
                        "in": "query",
                        "description": "filter for orderDate format in ISO 8601 with UTC offsets",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2020-04-24T12:27:00+02:00"
                    },
                    {
                        "name": "filter[orderDateTo]",
                        "in": "query",
                        "description": "filter for orderDate format in ISO 8601 with UTC offsets",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2020-04-24T12:27:00+02:00"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/orderCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/order/{orderNumber}/redact": {
            "post": {
                "tags": [
                    "order"
                ],
                "summary": "Redact an order.",
                "description": "Redact the order and all other orders linked to the given order number (set in the param\norderNumber) in a GDPR article 17 conform way. \\\n\nOnly orders with one of the following statuses are redactable:\n- delivered\n- deleted\n- canceled",
                "operationId": "redactOrder",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "The number the order is refered by.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 54
                        }
                    },
                    {
                        "name": "shopCode",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/order"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict\n\nAvailable message codes:\n- ORDER_NOT_REDACTABLE: The order is not redactable because of status conflicts\n- ORDER_ALREADY_REDACTED: The order is already redacted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/inbound-delivery/{inboundDeliveryNumber}": {
            "get": {
                "tags": [
                    "inbound-delivery"
                ],
                "summary": "Get an inbound delivery by inbound delivery number.",
                "description": "Get an inbound delivery by inbound delivery number.",
                "operationId": "getInboundDelivery",
                "parameters": [
                    {
                        "name": "inboundDeliveryNumber",
                        "in": "path",
                        "description": "The inbound delivery number as defined during the creation of the inbound delivery.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 250
                        }
                    },
                    {
                        "name": "shopCode",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/inboundDelivery"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict\n\nAvailable message codes:\n- AMBIGUOUS_INBOUND_DELIVERY: Multiple inbound deliveries were found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "inbound-delivery"
                ],
                "summary": "Add a new inbound delivery.",
                "description": "Add a new inbound delivery referenced by the given deliveryNumber.",
                "operationId": "postInboundDelivery",
                "parameters": [
                    {
                        "name": "inboundDeliveryNumber",
                        "in": "path",
                        "description": "The number the inbound delivery should be refered by.\nThis number is user defined, must be unique and has a maximum length (check maxLength field).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 250
                        }
                    },
                    {
                        "name": "shopCode",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/newInboundDelivery"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/inboundDelivery"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity\n\nAvailable message codes:\n- SUPPLIER_NOT_FOUND: The supplier with the given supplierNumber could not be found.\n- PRODUCT_NOT_FOUND: The product with the given productNumber could not be found.\n- DUPLICATED_PRODUCT: There are multiple products with the same productNumber.\n- PRODUCT_COULD_NOT_BE_ADDED_FOR_SUPPLIER: At least one of the the given products could not be added for the supplier.\n- INBOUND_DELIVERY_NOTIFICATION_NOT_SENDABLE: Could not send the delivery notification to the supplier. The inbound\ndelivery has been deleted.\n- INBOUND_DELIVERY_NUMBER_STARTS_WITH_RESERVED_NUMBER_PREFIX: The inboundDeliveryNumber starts with a prefix that is\n  reserved for internal references.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oAuthAuthorization": []
                    },
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/bulk-import/template/inbound-delivery.{format}": {
            "get": {
                "tags": [
                    "inbound-delivery"
                ],
                "summary": "Get a spreadsheet template for performing POST queries to the respective endpoint.",
                "description": "Get a spreadsheet template for performing POST queries to the respective endpoint.",
                "operationId": "getInboundDeliveryBulkImportTemplate",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "The format of the spreadsheet template",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xlsx",
                                "csv"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/errorResponse"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/inbound-delivery": {
            "get": {
                "tags": [
                    "inbound-delivery"
                ],
                "summary": "Get a list of inbound deliveries.",
                "description": "Get a list of inbound deliveries.",
                "operationId": "getInboundDeliveryCollection",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to read. Default is the first page.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "The maximum size per page is 100. Default is 100.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 20
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort the results by one or more comma-separated sort criteria, with the criterion specified first having priority.\n\nAvailable sort orders:\n- asc: ascending order\n- desc: descending order\n\nAvailable fields for sorting:\n- expectedDeliveryDate\n\nThe default sort order is expectedDeliveryDate:desc.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "expectedDeliveryDate:asc"
                    },
                    {
                        "name": "filter[status]",
                        "in": "query",
                        "description": "Status of the inbound delivery (optional).\n\nThe status for not yet completed is subject to change. you may poll for changes.\n- open: The inbound delivery has not yet been delivered.\n- in_progress: The inbound delivery is being processed in our warehouse.\n- completed: The inbound delivery has been processed in our warehouse.\n- deleted: The inbound delivery has been deleted.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "single status": {
                                "summary": "single inbound delivery status",
                                "value": "in_progress"
                            },
                            "multiple status": {
                                "summary": "multiple inbound delivery status",
                                "value": "in_progress,open"
                            }
                        }
                    },
                    {
                        "name": "filter[shopCode]",
                        "in": "query",
                        "description": "The shopCode used internally to distinguish between clients.\\\n_This code is optional, if your identity is assigned to only one shop.\nOtherwise the response would be a 422 HTTP Error._",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "teststeve"
                    },
                    {
                        "name": "filter[expectedDeliveryDateFrom]",
                        "in": "query",
                        "description": "The start date (inclusive) in format Y-m-d for which inbound deliveries should be returned (regarding the expected delivery date).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "filter[expectedDeliveryDateTo]",
                        "in": "query",
                        "description": "The end date (inclusive) in format Y-m-d for which inbound deliveries should be returned (regarding the expected delivery date).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "filter[search]",
                        "in": "query",
[...]
